<template>
  <q-dialog v-model="value" persistent>
    <q-card>
      <q-card-section class="row items-center justify-center">
        <q-avatar icon="delete" color="negative" text-color="white" />
        <span class="q-mt-lg">{{ message }}</span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn label="Cancel" v-close-popup />
        <q-btn label="Delete" color="negative" @click="confirm" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps(['modelValue', 'message'])
const emit = defineEmits(['update:modelValue', 'confirm'])

const value = computed({
  get () {
    return props.modelValue
  },
  set (value) {
    emit('update:modelValue', value)
  }
})

const confirm = () => {
  emit('confirm')
}
</script>
