<template>
  <q-dialog v-model="value" persistent>
    <q-card style="min-width: 400px">
      <q-card-section>
        <div class="text-h6">{{ title }}</div>
      </q-card-section>

      <q-form @submit.prevent="save">
        <q-card-section class="q-pt-none">
          <q-input
            outlined
            dense
            v-model="editingFact"
            label="Fact"
            :rules="[value => !!value || 'A fact is Required']"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn label="Cancel" v-close-popup />
          <q-btn type="submit" label="Save Fact" color="positive" :loading="loading" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { computed, ref, watch } from 'vue'

const props = defineProps(['modelValue', 'title', 'fact', 'loading'])
const emit = defineEmits(['update:modelValue', 'save'])

const value = computed({
  get () {
    return props.modelValue
  },
  set (value) {
    emit('update:modelValue', value)
  }
})

const editingFact = ref(props.fact)

watch(() => props.fact, (newValue) => {
  editingFact.value = newValue
})

const save = () => {
  emit('save', editingFact.value)
}
</script>
