<template>
  <q-item
    clickable
    :to="link.route"
  >
    <q-item-section
      v-if="link.icon"
      avatar
    >
      <q-icon :name="link.icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ link.title }}</q-item-label>
      <q-item-label caption>{{ link.caption }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script lang="ts" setup>
import { NavLink } from 'src/models/NavLink'

interface Props {
  link: NavLink
}

defineProps<Props>()
</script>
