<template>
  <q-infinite-scroll @load="onLoad" :offset="250">
    <q-page padding>
      <q-breadcrumbs>
        <q-breadcrumbs-el label="Home" :to="{ name: 'GeneralIndex'}" />
        <q-breadcrumbs-el label="Dogs" />
      </q-breadcrumbs>

      <h1>Dog Facts</h1>
      <q-btn label="+ Add New Fact" color="positive" class="q-mb-md" @click="createItem" />

      <div class="q-pa-md example-row-all-breakpoints">
        <div class="row">
          <div v-for="fact in dogsStore.facts" :key="fact.id" class="col-12 col-sm-3 col-lg-2">
            <q-card class="q-ma-sm column justify-between" flat bordered>
              <q-card-section>
                <div class="text-subtitle2">{{ fact.fact }}</div>
              </q-card-section>
              <q-card-actions align="right">
                <q-btn flat round size="sm" icon="edit" @click="editItem(fact)" />
                <q-btn flat round size="sm" icon="delete" @click="confirmDeleteFact(fact)" />
              </q-card-actions>
            </q-card>
          </div>
        </div>
      </div>
    </q-page>
    <template v-slot:loading>
      <div class="row justify-center q-my-md">
        <q-spinner-dots color="primary" size="40px" />
      </div>
    </template>
  </q-infinite-scroll>

  <FactFormDialog
    v-model="showFormModal"
    :title="getFormTitle"
    :fact="editingItem.fact"
    :loading="loading"
    @save="saveFact"
  />

  <ConfirmDialog
    v-model="confirmDeleteDialog"
    message="Are you sure you want to delete this fact? THIS ACTION CANNOT BE UNDONE!"
    @confirm="deleteFact"
  />
</template>

<script lang="ts" setup>
import useDogsStore from 'src/stores/dogs'
import { ref, computed, onMounted } from 'vue'
import { Fact } from 'src/models/Fact'
import ConfirmDialog from 'src/components/ConfirmDialog.vue'
import FactFormDialog from 'src/components/FactFormDialog.vue'

const loading = ref(false)

const dogsStore = useDogsStore()

const pagination = ref({
  sortBy: 'desc',
  descending: false,
  page: 1,
  rowsPerPage: 25,
  rowsNumber: 0,
  lastPage: null,
  totalRecords: null
})

const confirmDeleteDialog = ref(false)
const factToDelete = ref<Fact>({ fact: '' })
function confirmDeleteFact (fact: Fact) {
  confirmDeleteDialog.value = true
  factToDelete.value = { ...fact }
}

function deleteFact () {
  if (factToDelete.value.id) {
    dogsStore.deleteFact(factToDelete.value.id)
      .then(() => {
        const index = dogsStore.facts.findIndex((element) => element.id === factToDelete.value.id)
        dogsStore.facts.splice(index, 1)
        confirmDeleteDialog.value = false
      })
  }
}

onMounted(() => {
  loading.value = true
  dogsStore.getAllFacts({ pageSize: pagination.value.rowsPerPage })
    .then((resp) => {
      pagination.value.page = resp.data.current_page + 1
      pagination.value.lastPage = resp.data.last_page
      pagination.value.totalRecords = resp.data.total
    })
    .finally(() => {
      loading.value = false
    })
})

function onLoad (index: number, done) {
  if (!loading.value) {
    const { page, rowsPerPage, lastPage } = pagination.value
    if (!lastPage || index <= lastPage) {
      loading.value = true
      dogsStore.getMoreFacts({ pageSize: rowsPerPage, page })
        .then((resp) => {
          pagination.value.page = resp.data.current_page + 1
          pagination.value.lastPage = resp.data.last_page
          pagination.value.totalRecords = resp.data.total
        })
        .finally(() => {
          loading.value = false
        })
    }
    done()
  }
}

const showFormModal = ref(false)
const editingItem = ref<Fact>({ fact: '' })
const isEdit = computed(() => {
  return editingItem.value.id !== undefined
})

const getFormTitle = computed(() => {
  if (isEdit.value) {
    return 'Edit Dog Fact'
  }
  return 'Create Dog Fact'
})

function createItem () {
  editingItem.value = { fact: '' }
  showFormModal.value = true
}

function editItem (item: Fact) {
  editingItem.value = { ...item }
  showFormModal.value = true
}

function saveFact (fact: string) {
  const payload = {
    fact: {
      value: fact
    }
  }
  loading.value = true
  if (isEdit.value) {
    dogsStore.updateFact(editingItem.value.id as number, payload)
      .then(() => {
        // Update item in the list, to avoid call endpoint to get loaded facts from the list
        const updatedItem = dogsStore.facts.find((element) => element.id === editingItem.value.id)
        if (updatedItem) {
          updatedItem.fact = fact
        }
      })
      .finally(() => {
        loading.value = false
        showFormModal.value = false
      })
  } else {
    dogsStore.storeFact(payload)
      .then((resp) => {
        if (dogsStore.facts.length === pagination.value.totalRecords) {
          dogsStore.facts.push(resp.data)
        }
      })
      .finally(() => {
        loading.value = false
        showFormModal.value = false
      })
  }
}
</script>
<style lang="scss" scoped>
.col-12, .col-sm-3, .col-lg-2 {
  display: flex;

  > div {
    flex-grow: 1;
  }
}
</style>
