<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          World of Facts
        </q-toolbar-title>

        <div>A place to learn a little bit about a lot</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list>
        <q-item-label
          header
        >
          I Want To Learn About...
        </q-item-label>

        <NavLink
          v-for="link in navLinks"
          :key="link.title"
          :link="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import NavLink from 'components/NavLink.vue'

const leftDrawerOpen = ref(true)

const navLinks = [
  {
    title: 'Cats',
    caption: 'A collection of facts about cats',
    icon: 'pets',
    route: { name: 'CatsIndex' }
  },
  {
    title: 'Dogs',
    caption: 'A collection of facts about dogs',
    icon: 'house_siding',
    route: { name: 'DogsIndex' }
  }
]
</script>
